/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define NUM     1
#define SYM     2
#define FUNC    3
#define NAVI    4
#define MULTI   5
/* Key Position for Combos
*-------------------------------------     -------------------------------------
*|0	|1	|2	|3	|4	|5	|	|6	|7	|8	|9	|10	|11	|
*-------------------------------------	-------------------------------------											
*|12	|13	|14	|15	|16	|17	|	|18	|19	|20	|21	|22	|23	|
*-------------------------------------	-------------------------------------													
*|24	|25	|26	|27	|28	|29	|	|30	|31	|32	|33	|34	|35	|
*			-------------------     -------------------									
*			|36	|37	|38	|	|39	|40	|41	|		
*			-------------------     -------------------
*/

/{
        combos {
                compatible = "zmk,combos";
                // Toggles the different layers using combos
                // Added combos for each side to get to all layers
                combo_numL{
                        timeout-ms = <50>;
                        key-positions = <0 2>;
                        bindings = <&tog 1>;
                };
                combo_symL {
                        timeout-ms = <50>;
                        key-positions = <0 3>;
                        bindings = <&tog 2>;
                };        
                combo_funcL{
                        timeout-ms = <50>;
                        key-positions = <0 4>;
                        bindings = <&tog 3>;
                };     
                combo_naviL{
                        timeout-ms = <50>;
                        key-positions = <0 5>;
                        bindings = <&tog 4>;
                };  
                combo_multiL{
                        timeout-ms = <50>;
                        key-positions = <28 29 38>;
                        bindings = <&tog 5>;
                };                    
                combo_numR{
                        timeout-ms = <50>;
                        key-positions = <11 6>;
                        bindings = <&tog 1>;
                };
                combo_symR{
                        timeout-ms = <50>;
                        key-positions = <11 7>;
                        bindings = <&tog 2>;
                };   

                combo_funcR{
                        timeout-ms = <50>;
                        key-positions = <11 8>;
                        bindings = <&tog 3>;
                };     
                combo_naviR{
                        timeout-ms = <50>;
                        key-positions = <11 9>;
                        bindings = <&tog 4>;
                };    
                combo_multiR{
                        timeout-ms = <50>;
                        key-positions = <30 31 39>;
                        bindings = <&tog 5>;
                };                                 
        };

        keymap {
                compatible = "zmk,keymap";

                default_layer {

                        bindings = < 
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------               
//|       ESC    |       Q       |        W      |       E       |        R      |        T      |        Y      |        U      |        I      |       O       |       P       |      -       |              
        &kp ESC         &kp Q           &kp W           &kp E           &kp R           &kp T           &kp Y           &kp U           &kp I           &kp O           &kp P        &kp MINUS
//|              |               |               |               |               |               |               |               |               |               |               |              |        
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//|       TAB    |       A       |       S       |       D       |        F      |        G      |        H      |        J      |        K      |       L       |       ;       |      '       |                
        &kp TAB         &kp A           &kp S           &kp D           &kp F           &kp G           &kp H           &kp J           &kp K           &kp L           &kp SEMI      &kp SQT
//|              |               |               |               |               |               |               |               |               |               |               |              |        
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//|  Left Shift  |       Z       |       X       |       C       |        V      |        B      |        N      |        M      |        ,      |       .       |       /       |    OS Key    |            
      &kp LSHFT        &kp Z           &kp X           &kp C           &kp V           &kp B           &kp N           &kp M          &kp COMMA       &kp DOT         &kp FSLH     &kp LEFT_GUI
//|              |               |               |               |               |               |               |               |               |               |               |              |        
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------        
//                                         |    Left CTRL  |    Backspace  |    Left ALT   |               |               |    Spacebar   |  Funct Layer  |
                                                &kp LCTRL       &kp BSPC        &kp LALT                        &kp RET         &kp SPACE       &mo 5
//                                         |               |               |               |               |               |               |               |
//                                         -----------------------------------------------------------------------------------------------------------------
                        >;
                };
                num_layer {
                        bindings = < 
 //-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------               
//|       _      |       1       |        2      |       3       |        4      |        5      |        6      |        7      |        8      |       9       |       0       |      _       |              
        &trans        &kp N1           &kp N2         &kp N3           &kp N4          &kp N5          &kp N6          &kp N7          &kp N8         &kp N9          &kp N0         &trans
//|              |               |               |               |               |               |               |               |               |               |               |              |        
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//|       _      |       _       |       _       |       _       |        _      |        _      |        *      |        4      |        5      |       6       |       +       |      _       |        
        &trans          &trans         &trans          &trans           &trans       &trans       &kp KP_MULTIPLY      &kp N4          &kp N5         &kp N6        &kp KP_PLUS     &trans
//|              |               |               |               |               |               |               |               |               |               |               |              |        
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//|       _      |       _       |      LEFT     |      DOWN     |      RIGHT    |        _      |        /      |        1      |        2      |       3       |       -       |      _       |            
        &trans        &trans           &kp LEFT       &kp DOWN         &kp RIGHT       &trans      &kp KP_DIVIDE       &kp N1          &kp N2         &kp N3        &kp KP_MINUS     &trans
//|              |               |               |               |               |               |               |               |               |               |               |              |        
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------        
//                                         |       _       |       _       |       UP       |               |       .       |       0       |       =       | 
                                                &trans           &trans          &kp UP                          &kp DOT         &kp N0        &kp EQUAL
//                                         |               |               |               |               |               |               |               |
//                                         -----------------------------------------------------------------------------------------------------------------                        

                        >;
                };

                sym_layer {
                        bindings = < 
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------               
//|       ~      |       !       |        @      |       #       |        $      |        %      |        ^      |        &      |        *      |  LParentheses | RParentheses  |      -       |              
       &kp TILDE      &kp EXCL         &kp AT         &kp HASH       &kp DOLLAR     &kp PERCENT      &kp CARET     &kp AMPERSAND   &kp ASTERISK      &kp LPAR        &kp RPAR        &kp MINUS
//|              |               |               |               |               |               |               |               |               |               |               |              |        
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//|       _      |       _       |       _       |       _       |        _      |        _      |        _      |     LBracket  |     RBracket  |      Pipe     |       _       |      =       |               
        &trans          &trans         &trans          &trans           &trans          &trans          &trans        &kp LBKT        &kp RBKT        &kp PIPE          &trans       &kp EQUAL
//|              |               |               |               |               |               |               |               |               |               |               |              |        
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//|       _      |       _       |      LEFT     |      DOWN     |      RIGHT    |        _      |        _      |     LBrace    |      RBrace   |       _       |       _       |      +       |            
        &trans        &trans           &kp LEFT       &kp DOWN         &kp RIGHT       &trans           &trans        &kp LBRC         &kp RBRC         &trans           &trans      &kp PLUS
//|              |               |               |               |               |               |               |               |               |               |               |              |        
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------        
//                                         |       _       |        _      |       UP       |               |    Less Then  |  Greater Then |       _       | 
                                                &trans           &trans          &kp UP                           &kp LT         &kp GT         &trans
//                                         |               |               |               |               |               |               |               |
//                                         -----------------------------------------------------------------------------------------------------------------
                        >;
                };
                function_layer {
                        bindings = < 
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------               
//|       _      |       F1      |       F2      |      F3       |       F4      |       F5      |       F6      |       F7      |       F8      |      F9       |      F10       |      F11    |            
        &trans         &kp F1          &kp F2         &kp F3          &kp F4          &kp F5          &kp F6          &kp F7           &kp F8         &kp F9          &kp F10         &kp F11
//|              |               |               |               |               |               |               |               |               |               |                |             |        
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//|       _      |       _       |       _       |       _       |        _      |       _      |        _      |        _      |        _      |       _       |       _        |      F12     |        
        &trans        &trans           &trans          &trans          &trans        &trans          &trans          &trans          &trans         &trans          &trans          &kp F12
//|              |               |               |               |               |               |               |               |               |               |               |              |        
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//|       _      |       _       |      LEFT     |      DOWN     |      RIGHT    |        _      |        _      |        _      |        _      |       _       |       _       |      _       |            
        &trans        &trans           &kp LEFT       &kp DOWN         &kp RIGHT       &trans           &trans          &trans         &trans         &trans           &trans         &trans
//|              |               |               |               |               |               |               |               |               |               |               |              |        
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------        
//                                         |       _       |    DELETE     |      UP       |               |       _       |       _       |       _       | 
                                                &trans          &trans          &kp UP                        &trans            &trans          &trans
//                                         |               |               |               |               |               |               |               |
//                                         -----------------------------------------------------------------------------------------------------------------
                        >;
                };  
// Arrows from hitbox                
                navi_layer {    
                        bindings = < 
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------               
//|       _      |      _        |        _      |      HOME     |      PGUP     |        -      |        -      |        -      |        _      |       -       |       _       |      _       |              
        &trans         &trans            &trans       &kp HOME       &kp PG_UP         &trans         &trans          &trans           &trans         &trans          &trans         &trans
//|              |               |               |               |               |               |               |               |               |               |               |              |        
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//|       _      |      _        |       _       |      END      |     PGDOWN    |        -      |        _      |        _      |        _      |       _       |       _       |      _       |        
        &trans         &trans          &trans         &kp END        &kp PG_DN         &trans         &trans          &trans          &trans         &trans          &trans         &trans
//|              |               |               |               |               |               |               |               |               |               |               |              |        
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//|       _      |       _       |      LEFT     |      DOWN     |      RIGHT    |       _      |        _      |        _      |        _      |       _       |       _       |      _       |            
        &trans        &trans           &kp LEFT       &kp DOWN         &kp RIGHT       &trans           &trans          &trans         &trans         &trans           &trans         &trans
//|              |               |               |               |               |               |               |               |               |               |               |              |        
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------        
//                                         |       _       |       _       |       UP       |               |       _       |       _       |       _       | 
                                                &trans          &trans           &kp UP                          &trans           &trans          &trans
//                                         |               |               |                |               |               |               |               |
//                                         -----------------------------------------------------------------------------------------------------------------
                        >;
                };   
                multi_layer {    
                        bindings = < 
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------               
//|       ~      |       1       |        2      |       3       |        4      |        5      |        6      |        7      |        8      |       9       |       0       |       -       |            
     &kp TILDE         &kp N1           &kp N2         &kp N3           &kp N4          &kp N5          &kp N6          &kp N7          &kp N8         &kp N9          &kp N0        &kp MINUS
//|              |               |               |               |               |               |               |               |               |               |               |               |        
 //-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------               
//|    DELETE    |       !       |        @      |       #       |        $      |        %      |        ^      |        &      |        *      |  LParentheses | RParentheses  |      =       |              
     &kp DELETE        &kp EXCL         &kp AT         &kp HASH       &kp DOLLAR     &kp PERCENT      &kp CARET     &kp AMPERSAND   &kp ASTERISK      &kp LPAR        &kp RPAR      &kp EQUAL
//|              |               |               |               |               |               |               |               |               |               |               |              |        
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//|       _      |       _       |      LEFT     |      DOWN     |      RIGHT    |        _      |        _      |     LBracket  |     RBracket  |     LBrace    |      RBrace   |      Pipe     |            
        &trans        &trans          &kp LEFT       &kp DOWN         &kp RIGHT        &trans           &trans         &kp LBKT        &kp RBKT        &kp LBRC         &kp RBRC       &kp PIPE    
//|              |               |               |               |               |               |               |               |               |               |               |               |        
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------        
//                                         |       _       |       _       |       UP       |               |       _       |       _       |       _       | 
                                                &trans          &trans           &kp UP                          &trans            &trans          &trans
//                                         |               |               |                |               |               |               |               |
//                                          -----------------------------------------------------------------------------------------------------------------
                        >;
                };                                            
        };
};
