/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define NUM     1
#define SYM     2
#define FUNC    3
#define NAVI    4

/{
        combos {
                compatible = "zmk,combos";
                
                COMBO(num_layer,&tog 1, 31 32)
                COMBO(sym_layer,&tog 2, 15 30)
                COMBO(func_layer,&tog 3, 17 31)
                COMBO(navi_layer,&tog 4, 14 15)           
        };

        keymap {
                compatible = "zmk,keymap";

                default_layer {

                        bindings = < 
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------               
//|       ESC    |       Q       |        W      |       E       |        R      |        T      |        Y      |        U      |        I      |       O       |       P       |      -       |              
        &kp ESC         &kp Q           &kp W           &kp E           &kp R           &kp T           &kp Y           &kp U           &kp I           &kp O           &kp P        &kp MINUS
//|              |               |               |               |               |               |               |               |               |               |               |              |        
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//|       TAB    |       A       |       S       |       D       |        F      |        G      |        H      |        J      |        K      |       L       |       ;       |      '       |                
        &kp TAB         &kp A           &kp S           &kp D           &kp F           &kp G           &kp H           &kp J           &kp K           &kp L           &kp SEMI      &kp SQT
//|              |               |               |               |               |               |               |               |               |               |               |              |        
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//|  Left Shift  |       Z       |       X       |       C       |        V      |        B      |        N      |        M      |        ,      |       .       |       /       |    Enter     |            
      &kp LSHFT        &kp Z           &kp X           &kp C           &kp V           &kp B           &kp N           &kp M          &kp COMMA       &kp DOT         &kp FSLH        &kp RET
//|              |               |               |               |               |               |               |               |               |               |               |              |        
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------        
//                                         |    Left CTRL  |    Backspace  |    Left ALT   |               |               |    Spacebar   |  Funct Layer  |
                                                &kp LCTRL       &kp BSPC        &kp LALT                        &kp RET         &kp SPACE       &mo 3
//                                         |               |               |               |               |               |               |               |
//                                         -----------------------------------------------------------------------------------------------------------------
                        >;
                };
                num_layer {
                        bindings = < 
 //-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------               
//|       _      |       1       |        2      |       3       |        4      |        5      |        6      |        7      |        8      |       9       |       0       |      _       |              
        &trans        &kp N1           &kp N2         &kp N3           &kp N4          &kp N5          &kp N6          &kp N7          &kp N8         &kp N9          &kp N0         &trans
//|              |               |               |               |               |               |               |               |               |               |               |              |        
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//|       _      |       _       |       _       |       _       |        _      |        _      |        *      |        4      |        5      |       6       |       +       |      _       |        
        &trans          &trans           &trans        &trans           &trans          &trans    &kp KP_MULTIPLY      &kp N4          &kp N5         &kp N6        &kp KP_PLUS     &trans
//|              |               |               |               |               |               |               |               |               |               |               |              |        
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//|       _      |       _       |       _       |       _       |        _      |        _      |        /      |        1      |        2      |       3       |       -       |      _       |            
        &trans        &trans           &trans          &trans           &trans         &trans      &kp KP_DIVIDE       &kp N1          &kp N2         &kp N3        &kp KP_MINUS     &trans
//|              |               |               |               |               |               |               |               |               |               |               |              |        
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------        
//                                         |       _       |       _       |       _       |               |       .       |       0       |       =       | 
                                                &trans          &trans          &trans                          &kp DOT         &kp N0        &kp KP_EQUAL
//                                         |               |               |               |               |               |               |               |
//                                         -----------------------------------------------------------------------------------------------------------------                        

                        >;
                };

                sym_layer {
                        bindings = < 
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------               
//|       ~      |       !       |        @      |       #       |        $      |        %      |        ^      |        &      |        *      |  LParentheses | RParentheses  |      -       |              
       &kp TILDE      &kp EXCL         &kp AT         &kp HASH       &kp DOLLAR     &kp PERCENT      &kp CARET     &kp AMPERSAND   &kp ASTERISK      &kp LPAR        &kp RPAR        &kp MINUS
//|              |               |               |               |               |               |               |               |               |               |               |              |        
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//|       _      |       _       |       _       |       _       |        _      |        _      |        _      |     LBracket  |     RBracket  |      Pipe     |       _       |      +       |                
        &trans          &trans           &trans        &trans           &trans          &trans          &trans        &kp LBKT        &kp RBKT        &kp PIPE          &trans        &kp PLUS
//|              |               |               |               |               |               |               |               |               |               |               |              |        
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//|       _      |       _       |       _       |       _       |        _      |        _      |        _      |     LBrace    |      RBrace   |       _       |       _       |      =       |            
        &trans        &trans           &trans          &trans           &trans         &trans           &trans        &kp LBRC         &kp RBRC         &trans           &trans        &kp EQUAL
//|              |               |               |               |               |               |               |               |               |               |               |              |        
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------        
//                                         |       _       |       _       |       _       |               |       _       |       _       |       _       | 
                                                &trans          &trans          &trans                        &trans            &trans          &trans
//                                         |               |               |               |               |               |               |               |
//                                         -----------------------------------------------------------------------------------------------------------------
                        >;
                };
                function_layer {
                        bindings = < 
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------               
//|       _      |       F1      |       F2      |      F3       |       F4      |       F5      |       F6      |       F7      |       F8      |      F9       |      F10       |     _     |              
        &trans         &kp F1          &kp F2         &kp F3          &kp F4          &kp F5          &kp F6          &kp F7           &kp F8         &kp F9          &kp F10         &trans
//|              |               |               |               |               |               |               |               |               |               |               |              |        
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//|       _      |      F11       |      F12     |       _       |        _      |        _      |        _      |        _      |        _      |       _       |       _       |      _       |        
        &trans        &kp F11          &kp F12        &trans           &trans          &trans          &trans          &trans          &trans         &trans          &trans         &trans
//|              |               |               |               |               |               |               |               |               |               |               |              |        
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//|       _      |       _       |       _       |       _       |        _      |        _      |        _      |        _      |        _      |       _       |       _       |      _       |            
        &trans        &trans           &trans          &trans           &trans         &trans           &trans          &trans         &trans         &trans           &trans         &trans
//|              |               |               |               |               |               |               |               |               |               |               |              |        
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------        
//                                         |       _       |    DELETE     |       _       |               |       _       |       _       |       _       | 
                                                &trans          &trans          &trans                        &trans            &trans          &trans
//                                         |               |               |               |               |               |               |               |
//                                         -----------------------------------------------------------------------------------------------------------------
                        >;
                };  
// Arrows from hitbox                
                navi_layer {    
                        bindings = < 
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------               
//|       _      |      HOME     |        _      |       _       |        _      |      PGUP     |        -      |        -      |        _      |       -       |       _       |      _       |              
        &trans        &kp HOME           &trans          &trans          &trans       &kp PG_UP        &trans          &trans           &trans         &trans          &trans         &trans
//|              |               |               |               |               |               |               |               |               |               |               |              |        
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//|       _      |      END      |      LEFT     |      DOWN     |      RIGHT    |     PGDOWN    |        _      |        _      |        _      |       _       |       _       |      _       |        
        &trans        &kp END          &kp LEFT       &kp DOWN         &kp RIGHT      &kp PG_DN        &trans          &trans          &trans         &trans          &trans         &trans
//|              |               |               |               |               |               |               |               |               |               |               |              |        
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//|       _      |       _       |       _       |       _       |        _      |        _      |        _      |        _      |        _      |       _       |       _       |      _       |            
        &trans        &trans           &trans          &trans           &trans         &trans           &trans          &trans         &trans         &trans           &trans         &trans
//|              |               |               |               |               |               |               |               |               |               |               |              |        
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------        
//                                         |       _       |       _       |       UP       |               |       _       |       _       |       _       | 
                                                &trans          &trans           &kp UP                          &trans           &trans          &trans
//                                         |               |               |                |               |               |               |               |
//                                         -----------------------------------------------------------------------------------------------------------------
                        >;
                };                               
        };
};
